voucher-system/src/main/app/outlet-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean id="OutletServiceImpl" class="com.jpa.voucher.processor.OutletHandler" />
	</spring:beans>

	<flow name="outlet-getByIDFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet/{outletID}" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.outletID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getOutletByID" methodArguments="#[message.inboundProperties.'http.uri.params'.outletID], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

	<flow name="outlet-getAllFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.currentPage != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.pageSize != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getAllOutlet" methodArguments="#[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

</mule>
