voucher-system/voucher-system/src/main/app/outlet-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean id="OutletServiceImpl" class="com.jpa.voucher.processor.OutletHandler" />
	</spring:beans>

	<flow name="outlet-createFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet" allowedMethods="POST" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[payload.name != null]" />
				<expression-filter expression="#[payload.address != null]" />
				<expression-filter expression="#[payload.name != '']" />
				<expression-filter expression="#[payload.address != '']" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="createOutlet"
			methodArguments="#[payload.name], #[payload.address], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

	<flow name="outlet-updateFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet/{outletID}" allowedMethods="PUT" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.outletID != null]" />
				<expression-filter expression="#[payload.name != null]" />
				<expression-filter expression="#[payload.address != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="updateOutlet"
			methodArguments="#[message.inboundProperties.'http.uri.params'.outletID], #[payload.name], #[payload.address], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

	<flow name="outlet-getByIDFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet/{outletID}" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.outletID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getOutletByID"
			methodArguments="#[message.inboundProperties.'http.uri.params'.outletID], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

	<flow name="outlet-getAllFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.currentPage != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.pageSize != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getAllOutlet"
			methodArguments="#[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

	<flow name="outlet-redemptionPointFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet/redemptionPoint" allowedMethods="POST" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[payload.voucherID != null]" />
				<expression-filter expression="#[payload.outletID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="addRedemptionPoint"
			methodArguments="#[payload.voucherID], #[payload.outletID], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

	<flow name="outlet-loadRedemptionPointFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="outlet/redemptionPoint/voucher/{voucherID}" allowedMethods="GET"
			doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.voucherID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="loadRedemptionPoint"
			methodArguments="#[message.inboundProperties.'http.uri.params'.voucherID], #[flowVars['token']]"
			object-ref="OutletServiceImpl" />
		<flow-ref name="responseFlow" />
	</flow>

</mule>
